# ignore static files
# (can be rebuilt)
site/

# ignore official documentation
# get it from <https://github.com/haiwen/seafile-docs>
docs/README.md
docs/SUMMARY.md
docs/book.json
docs/build_seafile/
docs/changelog.md
docs/client/
docs/config/
docs/contribution.md
docs/cover.jpg
docs/cover_small.jpg
docs/deploy/
docs/deploy_pro/
docs/deploy_win_pro/
docs/deploy_windows/
docs/develop/
docs/extension/
docs/faq.md
docs/images/
docs/maintain/
docs/overview.md
docs/overview/
docs/roadmap.md
docs/security/

